/* The following line can be included in a src/App.scss */
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Gloria+Hallelujah&family=Roboto+Mono:wght@100&display=swap');

:root {
    --normal-font: 'Gloria Hallelujah', cursive; /* Font for normal text */
    --heading-font: 'Gloria Hallelujah', sans-serif; /* Font for headings */
    --primary-color: #000000;
    --secondary-color: #6EEB83;
    --terciary-color: #1BE7FF;
   
}
html {
    height: 100%;
}
    
body {
    display: flex; /* Enable flexbox on the body */
    justify-content: center; /* Horizontally center the child container */
    align-items: center; /* Vertically center the child container */
    height: 100vh; /* Set the body's height to the viewport height */
    margin: 0; /* Remove default margin */
}


// body {
//     font-family: var(--normal-font); /* Use the normal font for body text */
//     background-color: var(--terciary-color); /* Use the secondary color for the background */
//     font-weight: 400;
//     color: var(--primary-color); /* Use the primary color for text */
// }

// h1, h2, h3, h4, h5, h6 {
//     font-family: var(--heading-font); /* Use the heading font for headings */
//     color: var(--secondary-color); /* Use the primary color for text */
// }