.table {
    background-color: lightgoldenrodyellow;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    color: darkslateblue;

    .navbar {
        position: absolute;
        float: left;
        width: calc(100% - 22px);
        /* 22px = 2x borde (1px) + 2x relleno (10px) */

        display: flex;
        top: 0;
        align-items: center;
        background-color: tomato;
        height: 50px;
        padding: 10px;
        justify-content: space-between;

        .logo {
            font-weight: bold;
            font-size: 50px;
            color: darkslateblue;
        }

        .tableNumber {
            display: flex;
            gap: 10px;

            button {
                background-color: lightgoldenrodyellow;
                font-size: 10px;
                border: none;
                cursor: pointer;
            }
        }

    }

    .container {
        border: 3px solid darkorange;
        border-radius: 10px;
        width: 65%;
        height: 75%;
        display: flex;
        overflow: hidden;
        gap: 20px;

        .sidebar {
            flex: 1;
            background-color: white;
            padding: 10px;

            .playersContainer {
                width: 190px;
                padding-left: 6px;
                padding-right: 20px;
                padding-top: 10px;

                .player {
                    border: 2px solid wheat;
                    display: flex;
                    background-color: white;
                    color: darkslateblue;
                    font-size: 21px;
                    margin-bottom: 10px;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-bottom: 10px;
                    padding-top: 7px;
                    border-radius: 20px;
                    justify-content: space-between;

                }

                .input {
                    background-color: #fff;
                    margin-bottom: 10px;
                    border-radius: 5px;
                    padding: 10px;

                    input {
                        border: none;
                        outline: none;
                        font-size: 16px;
                        padding-bottom: 1px;
                        border-bottom: 1px solid rgba(275, 175, 75, 1);
                    }
                }
            }
        }

        .game {
            flex: 3.5;
            background-color: white;

            .game-header {
                display: flex;
                background-color: white;
                height: 130px;
                padding: 10px;
                gap: 5px;
            }

            .boardContainer {
                height: calc(100% - 50px);
                width: 100%;
                background-color: lightcyan;
                display: flex;
                align-items: center;
                overflow: hidden;

                canvas {
                    overflow: hidden;
                    width: 600px;
                    height: 1000px;
                    background-color: whitesmoke;
                }
            }
        }

        .chat {
            flex: 3;
            background-color: #fff;

            .messages {
                padding: 10px;
                background-color: whitesmoke;
                height: calc(100% - 90px);
                overflow: scroll;

                .message {
                    margin-bottom: 20px;

                    p {
                        background-color: #fff;
                        padding: 10px 20px;
                        border-radius: 0px 10px 10px 10px;
                        min-width: 80%;
                    }


                }
            }

            .input {
                height: 50px;
                background-color: wheat;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    color: gray;
                    font-size: 18px;
                    height: 40px;
                    padding-left: 7px;
                    border-radius: 3px;

                    &::placeholder {
                        color: lightgray;
                    }
                }
            }

        }
    }
}